@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;

}

body{
    overflow-x: hidden;
}

.top{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* IMAGE FOR THE .TOP DIV  */

.top{
    background-image: url('img/cross.jpg');
    background-size: 140%;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
}

.navbar{
    width: 100%;
    padding: 20px;
    margin-top: 0px;
    display: flex;
    position: fixed;
    justify-content: space-around;
    background: transparent;
    z-index: 2;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.navbar.blury{
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.img_cont{
    width: 280px;
    height: 70px;
    padding: 5px;
    display: flex;
    border-radius: 7px;
}

.img_cont img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.logo_name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    padding: 10px;
    margin-left: 5px;
}

.links_cont{
    width: 350px;
    margin-left: -50px;
    padding: 5px;
    display: flex;
    color: white;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
}

.links_cont button:hover{
    color: rgb(170, 170, 170);
}

.give_btn{
    width: 150px;
    color: white;
    background: transparent;
    border: 2px solid white;
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    border-radius: 35px;
    transition: all 0.2s ease-in-out;
}

.give_btn:hover{
    width: 160px;
}

/* THIS IS THE MOBILE MENU HAMBURGER  */
.menu_cont{
    padding: 5px;
    height: 100%;
    margin-top: 13px;
    color: white;
    display: none;
    cursor: pointer;
}

.menu_cont i {
    font-size: xx-large;
}

/* THIS IS THE MOBILE NAV MENU  */
.slide_nav_cont{
    width: 20px;
    height: 20px;
    margin-top: 40vh;
    margin-left: 150%;
    border-radius: 100%;
    transition: all 0.3s ease;
    position: fixed;
    z-index: 5;
    background-color: white;
    color: white;
    font-size: 0px;
}

.slide_nav_cont.active{
    width: 80%;
    height: 370px;
    position: fixed;
    border-radius: 20px;
    background-color: white;
    margin-top: calc(50vh - 200px);
    margin-left: calc(50% - 40%);
    z-index: 5;
    transition: all 0.3s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: rgb(40, 40, 40);
    font-size: 18px;
    box-shadow: 
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24),
    0 3px 6px rgba(0, 0, 0, 0.15),
    0 10px 20px rgba(0, 0, 0, 0.10),
    0 20px 40px rgba(0, 0, 0, 0.05);
}

.slide_nav_cont #menu_close_btn{
    margin-left: calc(100% - 50px);
    font-family: "Ubuntu", sans-serif;
    font-size: xx-large;
    font-weight: 400;
    color: red;
}

#landing_text{
    width: 80%;
    color: white;
    margin-top: 230px;
    margin-left: calc(50% - 40%);
    font-family: "Plus Jakarta Sans", sans-serif;
    text-align: center;
    font-size: 70px;
}

#landing_text_ref{
    color: white;
    text-align: center;
}

#change-quote-btn{
    width: 140px;
    color: white;
    font-family: "Plus Jakarta Sans" , sans-serif;
    border: 1px solid white;
    border-radius: 8px;
    padding: 7px;
    margin-top: 40px;
    margin-left: calc(50% - 70px);
}

.useless{
    width: 100%;
    height: 300px;
    background-color: white;
}

.my_footer{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    background: rgb(26, 26, 60);
    color: rgb(185, 185, 185);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.my_footer_copyright{
    width: 300px;
    height: 40px;
    padding: 10px;
}

.my_footer_icons{
    width: 160px;
    height: 40px;
    padding: 10px;
    font-size: large;
    display: flex;
    justify-content: space-evenly;
}

.my_footer_icons i:hover{
    cursor: pointer;
    color: rgb(240, 240, 240);
}

.my_footer_mail{
    height: 40px;
    padding: 8px;
}

.my_footer_mail:hover{
    cursor: pointer;
    color: rgb(240, 240, 240);
}

/* STYLING FOR LARGE MOBILE DEVICES */
@media (max-width: 1100px) {
    .links_cont,.give_btn{
        display: none;
    }

    .menu_cont{
        display: block;
    }

    .top{
        background-size: 200%;
        background-repeat: no-repeat;   
    }
}

/* STYLING FOR LARGE MOBILE DEVICES */
@media (max-width: 850px) {
    .top{
        background-size: 350%;
        background-position-y: -120px;
        background-repeat: no-repeat;   
    }
    .logo_name{
        font-size: 14px;
    }
    #landing_text{
        width: 95%;
        margin-left: calc(50% - 47.5%);
        margin-top: 230px;
        font-size: 40px;
    }
    .my_footer{
        text-align: center;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}
